<% content_for :page_title do %>
<h3>Employee Links</h3>
<% end %>

<% content_for :main do %>
<strong>Internal Resources:</strong>
<ul class="employee">
  <li><a href="https://timeandexpense.myefaactweb.com">Company Time Card</a></li>
  <li><a href="https://www.epayrollportal.com/EmployeeLogin.aspx">Payroll</a></li>
  <li><a href="http://jhfunds.com">SEP IRA Account</a></li>
</ul>
<strong>External Resources:</strong>
<ul class="employee">
  <li><a href="https://tspip.ms.northropgrumman.com/ebilling/">Northrop Grumman Time Card</a></li>
  <li><a href="https://time.keywcorp.com">KEYW Time Card</a></li>
</ul>
<% end %>
